body {
  background-color: #FFF;
}

h1 {
  color: #262626;
  padding: 40px;
  font-family: 'Candal';
  font-size: 55px;
}
a{
  color: white;
}

.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}
p {
  padding: 20px;
  color: #262626;
  font-family: 'Cantarell';
  font-size: 20px
}
nav {
  box-shadow: 3px 3px 6px 1px #DAE0E6;
}

nav > li {
  flex: 1
}

img {
  border-radius: 8px;
  max-width: 70%;
  height: auto;
  margin: 40px;
  box-shadow: 15px 15px 6px 1px #DAE0E6;
}

.navcontainer {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  border-radius: 8px;

}

li a {
  display: inline-block;
  color: #000;
  font-family: "Cantarell";
  font-size: 20px;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #983737;
  color: white;
}
